<div class="testimonials-box">
    <div class="quote">
        <blockquote class="blockquote">{{ quote }}</blockquote>
    </div>
    <div class="user-image">
        {{ image }}
    </div>
    <div class="name">
        <strong>{{ name }}</strong>
    </div>
    <div class="job-title">
        {{ jobTitle }}
    </div>
    <div class="social-link">
        {{ socialLink }}
    </div>
</div>