{% if socialLink %}
<div class="row testimonials-box">
    <div class="quote">
        <blockquote class="blockquote">{{ quote }}</blockquote>
    </div>
</div>
<div class="d-inline-flex flex-row testimonial-info">
    <div class="col-lg-8 col-6">
        <div class="user-image text-center pt-5 pb-3">
            {{ userImage }}
        </div>
        <div class="user-name text-center">
            <strong>{{ userName }}</strong>
        </div>
        <div class="job-title text-center">
            {{ jobTitle }}
        </div>
        <div class="social-link text-center">
            {{ socialLink }}
        </div>
    </div>
</div>  
{% else %}
<div class="testimonials-box">
    <div class="quote">
        <blockquote class="blockquote">{{ quote }}</blockquote>
    </div>
</div>
<div class="testimonial-info">
    <div class="user-image text-center pt-5 pb-3">
        {{ userImage }}
    </div>
    <div class="user-name text-center">
        <strong>{{ userName }}</strong>
    </div>
    <div class="job-title text-center">
        {{ jobTitle }}
    </div>
</div>
{% endif %}