{% if socialLink %}
<div class="row testimonials-box shadow-sm">
    <div class="quote">
        <blockquote class="blockquote">{{ quote }}</blockquote>
    </div>
</div>
<div class="row testimonial-info pt-5 pb-3">
    <div class="col-lg-4 col-6">
        <div class="user-image text-center">
            {{ userImage }}
        </div>
    </div>
    <div class="col-lg-3 col-3">
        <div class="user-info">
            {{ socialLink }} <strong>{{ userName }}</strong> 
            {{ jobTitle }}
        </div>
        <div class="content-link mt-4">
            {{ contentLink }}
        </div>
    </div>
</div> 
{% else %}
<div class="testimonials-box">
    <div class="quote">
        <blockquote class="blockquote">{{ quote }}</blockquote>
    </div>
</div>
<div class="row testimonial-info pt-5 pb-3">
    <div class="col-lg-4 col-6">
        <div class="user-image text-center">
            {{ userImage }}
        </div>
    </div>
    <div class="col-lg-3 col-3">
        <div class="user-info">
            <strong>{{ userName }}</strong>
            {{ jobTitle }}
        </div>
        <div class="content-link mt-4">
            {{ contentLink }}
        </div>
    </div>
</div>
{% endif %}