<div class="testimonials-box">
    <div class="quote">
        {{ quote }}
    </div>
    <div class="user-image">
        {{ user_image }}
    </div>
    <div class="name">
        {{ name }}
    </div>
    <div class="job-title">
        {{ job_title }}
    </div>
    <div class="social-link">
        {{ social_link }}
    </div>
</div>