<div class="testimonials-box">
    <div class="quote">
        {{ quote }}
    </div>
    <div class="user-image">
        {{ image }}
    </div>
    <div class="name">
        {{ name }}
    </div>
    <div class="job-title">
        {{ jobTitle }}
    </div>
    <div class="social-link">
        {{ socialLink }}
    </div>
</div>